h3{
	font-size: 30px;
	margin: 20px;
}
select{
	padding: 10px;
}
.App{
	padding: 50px;
}
.main-container {
	padding:50px;
	width: 50%;
	margin: 0 auto;
	border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}
.selection-container{
	display: flex;
	gap: 20px;
}
